.movie-card {
  flex: 0 0 180px;
  width: 180px;
  background: #111;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
}

.movie-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.movie-card:hover {
  transform: scale(1.08);
}

.movie-info {
  padding: 10px;
  color: #fff;
}
